.container {
    margin: 32px;
    width: min(100%, 1092px);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
    margin: 32px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}