.homeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 104px);
    background-image: url("../public/images/homeImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.homeContainer::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 70%);
}

.homeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.homeBox h1 {
    margin: 0;
}

.homeBox a {
    padding: 8px;
    background-color: #ec1d24;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.homeBox a:hover{
    background-color: rgba(236, 29, 36, 80%);
    transition: 0.2s;
}
